{% extends "home.html" %}
    {% block content %}

    <h2 style="text-align:center">APPLICANT INFO</h2>

    <div class="card">
        <img src="{{data.profile.url}}"alt="" style="width:100%">
        <h1>{{data.first_name}}</h1>
        <p class="title">{{data.last_name}}</p>
        <p>{{data.about_you}}</p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>

    <form action="http://127.0.0.1:8000/send_email/" method="post">
        {% csrf_token %}
        <p><button>Contact</button></p>
       
    </form>

    </div>
{%endblock%}

    
        

    